* {
  padding: 0;
  margin: 0;
}
body {
  height: 100v;
  border: 1px solid yellow;
}

button {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.img {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.img img {
  margin: 10px;
}

.button {
  align-items: center;
  display: flex;
  justify-content: center;
}

h2,
h4 {
  text-align: center;
}
